<!DOCTYPE html>
<html>
    <head>
            <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'
        <title>List of matching anagrams</title>
    </head>
    <body>
        <div class="container">
            <h1>Your results:</h1>
            <h4>{{     }}</h4>
            <form action='/'>
                <button type='submit' class='btn-success'>Go back</button>
            </form>
        </div>
    </body>
</html>
