<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootsrap.min.css'>
        <title>Anagram Sorter</title>
    </head>
    <body>
        <div class='container'>
            <h1>Anagram Sorter</h1>
            <p>Enter a word, and possible anagrams of the entered word"</p>
                <form action='view_anagram'>
                    <div class='form-group'
                        <label for='paper'>Word:</label>
                            <input id='paper' name='paper' class='form-control' type='text'>
                    </div>
                <button type='submit' class='btn-success'>Search for matching anagrams</button>
                </form>
        </div>
    </body>
</html>
